.wrapper {
  display: flex;
  justify-content: right;
  position: fixed;
  align-items: center;
  gap: 10px;
  width: rem-calc(600);
  height: rem-calc(80);
  background-color: #f5f5f5;
  padding: 18px 29.5px 17px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;

  &:focus {
    outline: 3px solid #e88d3e;
  }
}

.btn-primary {
  background-color: #0093dd;
  color: white;

  &:hover {
    background-color: #0679b2;
  }

  &:active {
    background-color: #0679b2;
  }

  &:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
  }
}

.btn-secondary {
  background-color: #fff;
  color: #000;
  border: 2px solid #ddd;

  &:hover {
    background-color: #f4f4f4;
  }

  &:active {
    background-color: #e0e0e0;
  }

  &:disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
  }
}

.btn-danger {
  background-color: #ff1f00;
  color: white;

  &:hover {
    background-color: #af1400;
  }

  &:active {
    background-color: #9a1706;
  }

  &:disabled {
    background-color: #f8d7da;
    cursor: not-allowed;
  }
}

.btn-outlined {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;

  &:hover {
    background-color: #333;
    color: white;
  }

  &:active {
    background-color: #444;
    color: white;
  }

  &:disabled {
    background-color: transparent;
    color: #b3b3b3;
    border: 2px solid #b3b3b3;
    cursor: not-allowed;
  }
}

.btn-disabled {
  opacity: 0.5;
}
