/* components/ui/Button.module.scss */
.button {
  padding: 13px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 3px solid #e88d3e;
  }
}

.primary {
  background-color: #0093dd;
  color: white;

  &:hover {
    background-color: #0389cc;
  }

  &:active {
    background-color: #0373aa;
  }

  &:disabled {
    background-color: #d9dcdd;
    border: 2px solid #b3b3b3;
    cursor: not-allowed;
  }
}

.secondary {
  background-color: #fff;
  color: #000;
  border: 2px solid #ddd;

  &:hover {
    background-color: #fff;
  }

  &:active {
    background-color: #fff;
  }

  &:disabled {
    background-color: #fff;
    border: 2px solid #b3b3b3;
    color: #d8d8d8;
    cursor: not-allowed;
  }
}

.danger {
  background-color: #f44336;
  color: white;

  &:hover {
    background-color: #e53935;
  }

  &:active {
    background-color: #d32f2f;
  }

  &:disabled {
    background-color: #dedad9;
    border: 2px solid #b3b3b3;
    cursor: not-allowed;
  }
}

.outlined {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;

  &:hover {
    background-color: #333;
    color: white;
  }

  &:active {
    background-color: #444;
    color: white;
  }

  &:disabled {
    background-color: transparent;
    color: #b3b3b3;
    border: 2px solid #b3b3b3;
    cursor: not-allowed;
  }
}

.disabled {
  border: 2px solid #b3b3b3;
  opacity: 0.5;
  cursor: not-allowed;
}
