.wrapper {
  max-width: 700px;
  margin-left: 35px;
  margin-top: 25px;
}

.header {
  font-size: 72px;
  font-weight: 700;
  line-height: auto;
  color: #1f2c4a;
}

.section {
  background-color: #1f2c4a;
  padding: 15px;
  width: rem-calc(700);
  height: rem-calc(40);
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.section h2 {
  color: #fff;
}

.section h3 {
  font-style: italic;
  color: coral;
}

.container {
  // width: rem-calc(300);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  margin-top: 0px;
  gap: 15px;
}

Button:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
